<div class="container text-center">
    <h1>Your question:</h1>
    <p><%= @question %></p>

    <h1>Your coach says:</h1>
    <p><%= @answer %></p>

    <%= link_to "Ask another question", ask_path, class: "btn btn-primary mt-3" %>
</div>
